.App {
  text-align: center;
}
section{
  text-align: center;
  margin-top:15px;
}
@media screen and (max-width: 768px){
.media-content {
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px){
  .title.is-4 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 640px){
  .title.is-4 {
    font-size: 1rem!important;
  }
}
.search-wrapper {
  display: flex;
  justify-content: center;
}
.list-wrapper {
  margin-top: 30px;
  padding: 0 20px;
  display: flex;
  justify-content: left;
  justify-items: stretch;
  flex-wrap: wrap;
}
.card-wrapper {
  width: 18%;
  margin: 0 1% 20px;
  border-radius:8px;
}
.card{
  height: 100%;
  display: block;
  border-radius:8px;
  box-shadow: 0 0 4px #b3aeae;
  transition: all .2s ease-in-out;
}
.home .card:hover,
.results .card:hover{
  box-shadow: 0 0 6px #b3aeae;
  transform: scale(1.02);
}
@media (max-width:640px){
  .home .card,
  .results .card{
    box-shadow: 0 0 4px #b3aeae;
    transform: none;
  }
}
.card-image{
  border-radius: 8px 8px 0 0;
}
.card-image figure{
  border-radius: 8px 8px 0 0;  
}
.card-image img{
  border-radius: 8px 8px 0 0;  
}
@media (max-width:1024px){
  .home .card-wrapper,
  .results .card-wrapper {
    width: 23%;
  }
}
@media (max-width:768px){
  .home .card-wrapper,
  .results .card-wrapper {
    width: 31.33%;
  }
}
@media (max-width:640px){
  .home .card-wrapper,
  .results .card-wrapper {
    width: 48%;
  }
}
@media (max-width:360px){
  .home .card-wrapper,
  .results .card-wrapper {
    width: 94%;
    margin: 0 3% 20px;
  }
}
.home input:focus{
  box-shadow: none;
  border-color:#dbdbdb;
}
.home small span{
  display: block;
}
.notfound .title{
  margin-top:15px;
}
.detail .title.is-4{
  font-size: 1.5rem!important;
}
.detail .btn-wrapper a{
  margin-left:5px;
}
.detail .btn-wrapper a:first-child{
  margin-left:0;
}
.detail .card{
  width: 85%;
  margin: 25px auto;
  max-width: 800px;
  position: relative;
  display: flex;
  transition: none;
}
@media (max-width:700px){
  .detail .card{
    display: block;
  } 
}
.detail .image{
  width: 275px;
  border-radius: 8px 0 0 8px;
}
@media (max-width:700px){
  .detail .image{
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
}
.detail img{
  border-radius: 8px 0 0 8px;
}
@media (max-width:700px){
  .detail img{
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
}
.detail .card-image{
  border-radius: 8px 0 0 8px;
}
.btn-wrapper{
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
  max-width: 800px;
}
.btn-wrapper a{
  float: left;
}
.not-found-img{
  height: 100%;
  background: #f6f6f6;
}
.icon-info{
  display:none;
}
@media (max-width:700px){
  .icon-info{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #118fe4;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 19px;
    font-size: 13px;
  }
}



